@model FinanceWebApp.ViewModels.CategoryCreateViewModel

@{
    ViewData["Title"] = "Create Category";
    ViewData["Action"] = "Create";
    ViewData["ButtonText"] = "Create";
}

<h2>Create Category</h2>

<partial name="_CategoryForm" model="Model" />