@model List<FinanceWebApp.ViewModels.CategoryTreeViewModel>
@{
    ViewData["Title"] = "Categories";
}
<h2>Categories</h2>

<div class="category-section">
    <h2>Income</h2>
    <ul class="category-tree">
        @foreach (var category in Model.Where(c => c.Type == "Income"))
        {
            @Html.Partial("_CategoryTreeNode", category)
        }
    </ul>
</div>

<div class="category-section">
    <h2>Expenses</h2>
    <ul class="category-tree">
        @foreach (var category in Model.Where(c => c.Type == "Expense"))
        {
            @Html.Partial("_CategoryTreeNode", category)
        }
    </ul>
</div>

<div>
    <a class="btn btn-info" asp-action="Create">
        <i class="bi">Create</i>
    </a>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</div>
