@model FinanceWebApp.ViewModels.CategoryCreateViewModel
@{
    ViewData["Title"] = "Edit Category";
    ViewData["Action"] = "Update";
    ViewData["ButtonText"] = "Save";
}

<h2>Edit Category</h2>

<partial name="_CategoryForm" model="Model" />